@{
  var superieur = Context.Request.Cookies["superieur"] ;
}
<a href="#" class="brand">
  <i class="bx bxs-smile"></i>
  <span class="text">RH - DIMPEX </span>
</a>
      <ul class="side-menu top">
        <li class="@(ViewData["page"] != null && ViewData["page"] == "service" ? "active" : "")">
            <a href="@Url.Action("liste","service")">
                <i class="bx bxs-dashboard"></i>
                <span class="text">Service</span>
            </a>
        </li>
        <li class="@(ViewData["page"] != null && ViewData["page"] == "cv" ? "active" : "")">
            <a href="@Url.Action("BesoinListe","ListeCv")">
                <i class="bx bxs-dashboard"></i>
                <span class="text">CV  </span>
            </a>
        </li>
        
          @if( superieur != null ){
          <li class="">
            <a href="#">
              <i class="bx bxs-dashboard"></i>
              <span class="text">
                  Liste Congés
              </span>
            </a>
          </li>
        }

        <li class="">
          <a href="#">
            <i class="bx bxs-dashboard"></i>
            <span class="text">Test</span>
          </a>
        </li>
        <li>
          <a href='@Url.Action("BesoinListe","Entretien")'>
            <i class="bx bxs-shopping-bag-alt"></i>
            <span class="text">Entretien</span>
          </a>
        </li>
        <li class="@(ViewData["page"] != null && ViewData["page"] == "NewContrat" ? "active" : "")">
            <a href="@Url.Action("Index","NewContrat")">
                <i class="bx bxs-dashboard"></i>
                <span class="text">Contrats d'essai</span>
            </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bxs-doughnut-chart"></i>
            <span class="text">Analytics</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bxs-message-dots"></i>
            <span class="text">Message</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bxs-group"></i>
            <span class="text">Team</span>
          </a>
        </li>
      </ul>
      <ul class="side-menu">
        <li>
          <a href="@Url.Action("Index","PrimeAnciennete")">
            <i class="bx bxs-cog"></i>
            <span class="text">Primes d'anciennete</span>
          </a>
        </li>
        <li>
          <a href="@Url.Action( "index","deconnexion")" class="logout">
            <i class="bx bxs-log-out-circle"></i>
            <span class="text">Logout</span>
          </a>
        </li>
      </ul>