@model Avantage[]

<div class="essai">
    <form action='@Url.Action("saveEssai", "Contrat")' method="get">
        <h1>Contrat d'essai</h1>
        <div class="candidat">
            <label for="">Candidat :</label> @ViewBag.nom @ViewBag.prenom
            <input type="hidden" name="idcandidat" value="@ViewBag.id" >
            <input type="hidden" name="idbesoin" value="@ViewBag.idbesoin" >
        </div>
        <div>
            <label for="">Durée :</label>
            <input type="number" step="0.1" name="duree" placeholder="en mois">
        </div>
        <div>
            <label for="">Date de début :</label>
            <input type="date" name="debut" id="">
        </div>
        <div>
            <label for="">Avantage :</label>
        </div>
        <div id="checkbox">
            @foreach (var avantage in Model)
            {
                <div>
                    <input type="checkbox" name="avantage" value="@avantage.idavantage"> @avantage.nomavantage
                </div>
            }
        </div>
        <div class="salaire">
            <label for="">Salaire brut :</label>
            <input type="number" step="0.1" name="brut" placeholder="Brut">
        </div>
        <div>
            <input type="submit" value="Valider">
        </div>
    </form>
</div>