@{
    Layout = "_form"; 
    var dateDans15Jours = ViewBag.DateDans15Jours as string;
    var choix = ViewBag.choix  as List<Choix>;
}
     <div id="div">
        <div id="form-title">
            <div style="display:flex; align-items:center; justify-content:space-between; width:300px;  " >
              <a href = '@Url.Action("categorie" , "conge" )' " > <i  style="transform: rotate(180deg); color:var(--pink);  font-size:20px; " class="fa fa-arrow-right"></i> </a>
              <h1>
                Demande de congé
              </h1>
            </div>
            @if (!string.IsNullOrEmpty(ViewBag.ErreurMessage))
            {
                <div class="alert alert-danger"  style=" color: var(--red) ">
                    @ViewBag.ErreurMessage ✘    
                </div>
            }
            @if (!string.IsNullOrEmpty(ViewBag.Succes))
            {
                <div class="alert alert-danger"  style=" color: var(--green) ">
                    @ViewBag.Succes ✔    
                </div>
            }
        </div>
        <form action='@Url.Action("demande" , "conge")' method="post">
          <div class="">
           <div class="my-input-group">
             <label for="">
              Date début congé
            </label>
            <input type="date" name="debut" value="@dateDans15Jours" required>
           </div>
           <div class="">
            <input type="time" name="debut_time" value="08:00"  required>
           </div>
            <div class="my-input-group">
             <label for="">
              Date fin congé
            </label>
            <input type="date" name="fin" value="@dateDans15Jours"  required>
           </div>
            <div class="">
            <input type="time" name="fin_time"  value="17:00" required>
           </div>
            <div class="my-input-group">
              <label for="">
                  Raison spéciales : 
              </label>
              <select name="raison" id="">
                  @foreach( var c in choix ){
                    <option value="@c.idChoix"> @c.intitule </option>
                  }
              </select>
           </div>
           <div class="my-input-group">
             <label for="">
              Autre Raison :
            </label>
              <textarea style="background: var(--grey) ; border: none;  outline:none;  padding:20px;" name="raison_autre" cols="50" rows="2">
              </textarea>
           </div>
            <div class="my-input-group">
                <input type="submit" value="Connexion">
            </div>
          </div>
        </form>        
      </div>