@{
    Layout = "_form";
}
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/templatemo-digimedia-v1.css" />
    <link rel="stylesheet" href="~/css/essai.css" />
    <link rel="stylesheet" href="~/css/style.css" />
<div class="div">
     <div class="form_essai">
        <h1>CONTRAT D'ESSAI</h1>
        <div>
            <div class="haut">La société Miraculous</div>
            <div class="haut">Dument habilité aux fins de présentes</div> 
            <div class="haut">Ci après dénommée "d'Employeur",</div>
            <div class="haut">D'une part;</div>
            <div class="haut">Et</div>
            <div class="haut"> <label for="" class="info"> Mr (Mme) : </label> @ViewBag.candidat.nom  @ViewBag.candidat.prenom</div>
            <div class="haut"> <label for="" class="info"> Né(e) le : </label> @ViewBag.candidat.dtn </div>
            <div class="haut"> <label for="" class="info"> Mail : </label> @ViewBag.candidat.mail </div>
            <div class="haut"> <label for="" class="info"> Contact : </label> @ViewBag.candidat.contact </div>
            @* <div class="haut"> <label for="" class="info"> Nationalité : </label> Malagasy </div> *@
        </div>
        <form action='@Url.Action("Traitement_Contrat","Contrat")' method="get"d>
            <div class="formulaire">
                <label for="">CIN :</label>
                <input type="text" name="cin" placeholder="votre numero cin">
                <input type="hidden" name="idessai" value="@ViewBag.idessai" >
                <input type="hidden" name="idcand" value="@ViewBag.candidat.idcandidat" >
            </div>
            <div class="formulaire">
                <label for="">Adresse :</label>
                <input type="text" name="adresse" placeholder="votre adresse">
            </div>
            <div class="formulaire">
                <label for="">Père :</label>
                <input type="text" name="pere" placeholder="nom de votre père">
            </div>
            <div class="formulaire">
                <label for="">Mere :</label>
                <input type="text" name="mere" placeholder="nom de votre mère">
            </div>
            <div class="formulaire">
                <label for="">Enfant (s) :</label>
                <input type="number" name="enfant" placeholder="nombre d'enfant(s)">
            </div>

            <div class="formulaire">
                <label for="">Salaire net :</label>
                <input type="number" value="@ViewBag.basesal" >
            </div>
            <div class="formulaire">
                <label for="">Date de signature :</label>
                <input type="date" name="signature">
            </div>
            <div class="formulaire">
                <label for=""><button>Retour</button></label>
                <input type="submit" value="Valider">
            </div>
        </form>
    </div>
</div>