@model FicheCandidat
<div class="detail-cv">
    <div class="head">
        <h3>Détails du CV</h3>
    </div>
    <div class="a_propos">
        <div class="gauche">
            <p> <label for="">Nom:</label> @Model.candidat.nom</p>
            <p> <label for="">Prénom:</label> @Model.candidat.prenom</p>
            <p> <label for="">Date de naissance:</label> @Model.candidat.dtn</p>
            <p> <label for="">Genre:</label> @foreach (var genre in Model.choixCandidat["genre"]){ @genre.intitule } </p>
            <p> <label for="">Nationalité:</label> @foreach (var nationalite in Model.choixCandidat["nationalite"]){ @nationalite.intitule } </p>
        </div>
        <div class="droite">
            <p> <label for="">Contact:</label> @Model.candidat.contact</p>
            <p> <label for="">Mail:</label> @Model.candidat.mail </p>
        </div>
    </div>
    <div class="infos">
        <div class="inf">
            <div>
                <label for="">Diplomes:</label>
                <a href="#" class="btn-download">
                    <i class="bx bxs-cloud-download"></i>
                    <span class="text">Voir l'attestation</span>
                </a>
            </div>
            <div class="info_">
                <ul>
                    @foreach (var diplome in Model.choixCandidat["diplome"]){
                        <li><i class="bx bxs-checkbox-checked"></i> @diplome.intitule </li>
                    }
                </ul>
            </div>
        </div>
        <div class="inf">
            <div>
                <label for="">Expériences:</label>
                <a href="#" class="btn-download">
                    <i class="bx bxs-cloud-download"></i>
                    <span class="text">Voir l'attestation</span>
                </a>
            </div>
            <div class="info_">
                <ul>
                    @foreach (var experience in Model.choixCandidat["experience"]){
                        <li><i class="bx bxs-checkbox-checked"></i> @experience.intitule </li>
                    }
                </ul>
            </div>
        </div>
        <div class="inf">
            <div>
                <label for="">Situation matrimoniale:</label>
            </div>
            <div class="info_">
                <ul>
                    @foreach (var situation in Model.choixCandidat["situation matrimoniale"]){
                        <li><i class="bx bxs-checkbox-checked"></i> @situation.intitule </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="retour"><a href='@Url.Action("Liste","ListeCv", new{idbesoin=@Model.besoin.idBesoin})'>Retour</a></div>
</div>