    <div class="table-data" id="table_conge" >
      <div class="order">
        <div class="head">
          <h3>Liste des demandes de congés des personnels</h3>
          <i class="bx bx-search"></i>
          <i class="bx bx-filter"></i>
        </div>
        <table>
          <thead>
            <tr>
              <th>Titre</th>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Date début congé</th>
                <th>Date fin congé</th>
              <th></th>
                <th></th>
            </tr>
          </thead>
          <tbody>
          @foreach( var c in @ViewBag.l_conge ){
              <tr  style="cursor:pointer;"  onclick="getRaison('@Html.Raw(
                  string.IsNullOrEmpty(c.autre_raison) || c.autre_raison == "Aucune"  ? c.Raison.nomRaison : c.autre_raison
              )')"
              >
              <td>@c.Personnel.service.nomService</td>
              <td>@c.Personnel.nom</td>
              <td>@c.Personnel.prenom</td>
              <td>@c.DateDebut</td>
              <td>@c.ReelDateFin</td>
              <td>
                <form style="width: 75% ; " action="@Url.Action( "accept" , "conge" )" method="post" >
                    <input type="hidden" name="idconge" value="@c.IdConge" >
                    <input type="submit" style="cursor:pointer;" value="Accepter" >
                </form>
              </td>
                <td>
                    <a style="cursor:pointer;" onclick="afficherDetailsPersonnel(  @c.IdConge )" >  Refuser </a>
                </td>
            </tr>
          }
          </tbody>
        </table>
        <div class="retour">
          <a href='@Url.Action("","")'>Retour</a>
        </div>
      </div>
    </div>
 <div id="popup-personnel" class="popup">
      <div  class="popup-content">
            <div class="title-personnel-detail">
              <h2>Donnez la raison du refus  : </h2>
              <i  style="color:var(--red);" class="fa fa-times details-personnel-icon" onclick="fermer()" ></i>
            </div>
            <div id="liste_details" class="grid-container">
                <form action='@Url.Action( "refusSuperieur" ,  "conge" )' method="post" >
                    <div style="margin-bottom:20px;"   class="">
                        <textarea name="raison" id="" cols="50" rows="2"></textarea> 
                    </div>
                    <input id="idconge" type="hidden" name="idconge" >
                    <input type="submit"  value="Envoyer" >
                </form>
            </div>
      </div>
  </div>

   <div id="popup-personnel2" class="popup">
      <div  class="popup-content">
            <div class="title-personnel-detail">
              <h2>Donnez la raison du refus  : </h2>
              <i  style="color:var(--red);" class="fa fa-times details-personnel-icon" onclick="fermer2()" ></i>
            </div>
            <div id="liste_details2" class="grid-container">
                
            </div>
      </div>
  </div>
  <script>
    function fermer(){
      const popup = document.getElementById('popup-personnel');
      popup.style.top = '-35%';
      popup.style.opacity = '0';
      const popup2 = document.getElementById('popup-personnel2');
      popup2.style.top = '-35%';
      popup2.style.opacity = '0';
    }
    function fermer2(){
      const popup = document.getElementById('popup-personnel2');
      popup.style.top = '-35%';
      popup.style.opacity = '0';
      const popup2 = document.getElementById('popup-personnel');
      popup2.style.top = '-35%';
      popup2.style.opacity = '0';
    }
    function afficherDetailsPersonnel( idconge ){
        const scrollContainer = document.getElementById('table_conge');
        scrollContainer.scrollIntoView({
        top: 0,
        behavior: 'smooth'
        });
        const popup = document.getElementById('popup-personnel');
        popup.style.top = '50%';
        popup.style.opacity = '1';
        
        const inputIdConge = document.getElementById('idconge');
        inputIdConge.value = idconge;
    }

    function getRaison( autre_raison ){
        const scrollContainer = document.getElementById('table_conge');
        scrollContainer.scrollIntoView({
        top: 0,
        behavior: 'smooth'
        });

        const popup = document.getElementById('popup-personnel2');
        popup.style.top = '50%';
        popup.style.opacity = '1';

        const title = document.querySelector('.title-personnel-detail');

        title.innerHTML = "<h2>La raison de la demande : </h2>\
              <i  style='color:var(--red);' class='fa fa-times\ details-personnel-icon' onclick='fermer()' ></i>";
        const inputIdConge = document.getElementById('liste_details2');
        inputIdConge.innerHTML =  autre_raison ;
    }
  </script>