@model Besoin[]

<main>
    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>Liste des admis aux antretiens</h3>
                <i class="bx bx-list-ul"></i>
            </div>
            <table>
                <thead>
                <tr>
                    <th>Candidat</th>
                    <th>Poste</th>
                    <th>Contact</th>
                    <th>Faire un contrat d'essai</th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var c in ViewBag.liste)
                    {
                        <tr>
                            <td>
                                <p> @c.Candidat.nom @c.Candidat.prenom </p>
                            </td>

                            <td>@c.besoin.poste.nomPoste</td>
                            <td> @c.Candidat.contact  </td>
                            <td> <a href='@Url.Action("Essai","Contrat", new{idcandidature=@c.idcandidature})'>Faire un contrat</a> </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>